body {
  background: #45474B;
}

.py-3 {
  background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
  border-radius: 50px;
}

.bs-icon-xl.bs-icon-circle.bs-icon-primary.bs-icon.lg {
  background: #45474B;
}

.logo {
  margin: auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  border: ridge;
  border-width: 15px;
  box-shadow: 5px 5px;
}

.container {
  margin-bottom: 10%;
}

@media (min-width: 300px) {
  .container {
    margin-bottom: 70px;
  }
}

